
<div class="card-container">
  <form [formGroup]="form" fxLayout="column" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
      <mat-card>

          <mat-card-header appearance="outline" fxLayout="row">
                  <mat-card-title>{{state.title}}</mat-card-title>
          </mat-card-header>

          <mat-card-content  fxLayout="column">

                <ng-container
                fxFlex="100"
                *ngFor="let field of config.content;"
                  dynamicField
                  [config]="field"
                  [group]="form">
                </ng-container>

          </mat-card-content>

          <mat-card-actions fxLayout="row" fxLayoutGap="1em">
                <ng-container fxLayout="row" fxLayoutGap="1em"
                *ngFor="let field of config.footer;"
                  dynamicField
                  [config]="field"
                  [group]="form">
                </ng-container>
          </mat-card-actions>
      </mat-card>
  </form>
</div>